{% extends 'base.html' %}

{% block headers %}
<link rel="stylesheet" type='text/css' href="{{ url_for('scorecard.static', filename='css/record.css') }}">
{% endblock %}

{% block content %}

<div class="container-fluid px-0 mainContainer">
    <div class="container teamBtnContainer pt-3">
        <button class="btn btn-outline-primary main-font mx-2">Home</button>
        <button class="btn btn-outline-primary main-font mx-2">Away</button>
    </div>
    <div class="container formContainer mt-2">
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-primary main-font">Shot</button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary main-font">Shot Blocked</button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary main-font">Foul</button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary main-font">Card</button>
            </div>           
        </div>
        <div class="container-fluid">
            Test
        </div>
    </div>
</div>

{% endblock %}

